/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2014, 9:17:28 PM
    Author     : dubem
*/
.view{
    padding: 15px 0px 500px 0px;
    background-color: #fefefe;

}
header{
    border-bottom: 1px solid #ddd;
}

pre.prettyprint{
    border: 1px solid #ddd;
}
.view .snippet .title{
    font-family: "Open Sans",sans-serif;
    font-weight: 300 !important;
    font-size: 18px;
}
.view .snippet .profile{
    font-size: 13px;
}

.bold{
    font-weight: bold;
}
.vertical{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.horizontal{
    list-style: none;
}
.horizontal li{
    display: inline-block;
}
.border1{
    border: #AFAFAF 1px solid;
    border-radius: 4px;
}

post-bar{
    height: 40px;
    width: 100%;
    position: absolute;
}

/*.btn.green:hover, 
.btn.green:focus, 
.btn.green:active, 
.btn.green.active,
.btn.green.disabled, 
.btn.green[disabled]{ 
    background-color: #1d943b !important;
    color: #fff !important;
    outline: none !important;*/
/*}*/

.container{
    /*    margin: 5px 0px;
        padding: 5px;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background: #f0f0f0 url(img/background.gif) repeat -70% 0;
}
.post-header{
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
.post-header a{
    color: #4083a9;
    outline: none;
    text-decoration: none
}
.post-body{
    padding: 5px;
}
.comments {
    list-style: none;
    margin:  5px 0px;
    padding: 0px;
    border-top: 1px solid #ddd;

}
.comments li{
    border-bottom: 1px solid #ddd;
    padding: 5px;
}


textarea{
    /*    width: 100%;
    
    box-sizing: border-box;
    max-width: none;
    box-shadow: 0 1px 3px #e8e8e8 inset;
    padding: 2px 3px;*/
    overflow: auto;
    word-wrap: break-word;
    border: 3px solid #ccc;
    padding: 5px;
    /*position: absolute;*/
    min-height: 56px;
    font-size: 12px;
    line-height: 18px;
    width: 100%;
    resize:none;
    color: #404040 !important;
    font-size: 13px !important;
}

.poster-img{
    border-radius:999px;
    background:#C0C0C0;
    border :3px solid #C0C0C0;
    cursor:pointer;
}
.poster-img:hover{
    transition: border 1s;
    -moz-transition: border 1s;
    -webkit-transition: border 1s;
    border :3px solid #B93D3D;

}


.date-grey{
    color:#999;
    /*font-size: 11px;*/
}

.stats span{
    margin-right: 15px;
}
.stats [class^="icon-"],
.stats [class*=" icon-"]{
    color: #4F4F4F;
}

body{
    background: url('../images/background.gif')
}
.divtest{
    width:350px;
    display: inline-block;
}

