/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 26, 2015, 7:39:13 PM
    Author     : dubem
*/
.welcome{
    padding: 15px 0px 500px 0px;
    background-color: #fefefe;

}
.welcome .cover{
    /*background-color: #fefefe;*/
}
header{
    border-bottom: 1px solid #ddd;
}
.sidebar{

}
.snipbtn{
    margin-left: 10px;
}
.sidebar-menu li{
    font-size: 14px;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    /*    background: #fff;
        padding: 5px;*/
}
.sidebar-menu li > a{
    padding: 10px 0px 10px 10px;
    color: #333;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    white-space: nowrap;
    /*border-bottom: 1px solid #ddd*/
}
.sidebar-menu li > a:hover{
    background: #CCC;
    font-weight: bold;
}
.sidebar-menu li > a.active{
    background: none repeat scroll 0% 0% #938D8D;
    color: #fff;
    font-weight: bold;
}
.sidebar-menu i{
    font-size: 17px;
    color: #4B4444;
}
.main{
    /*padding:15px;*/
}
.snippet{
    margin-top: 16px;
    margin-right: 16px;
    width: calc(25% - 16px);
    position: relative;
    vertical-align: top;
    float: left;
    background: #FEFEFE;
    border: 1px solid #ddd;
    padding: 10px 0px;
    cursor: pointer;
    overflow: hidden;	
    /*opacity: 1;*/
}
.snippet .file{
    margin: 10px;
    vertical-align: middle;
    text-align: center;
}
.snippet .inner-snip{
    background-color: #FFF;
    border-radius: 1px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    height: 100%;
}
.snippet .lang{
    background: #017ebc;
    color: #fff;
    border-radius: 2px;
    padding: 5px 10px;
    margin: 10px 0px;
}
.snippet .actions{
    color: #FFF;
    width: 100%;
    /*height: 100%;*/
    bottom: -100%;
    text-align: left;
    position: absolute;
    /*background: none repeat scroll 0% 0% #43494B;*/
    /*opacity: 0.8;*/
}
.snippet:hover .actions{
    bottom: 0;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;	
}
.snippet .actions a,.snippet .actions a:hover{
    top: 40%;
    color: #FFF;
    /*position: absolute;*/
    text-decoration: none;
    left:30%;
}
.snippet .actions i{
    font-size: 14px;
}
.snippet .actions div.part{
    padding: 0px  !important;
}
.snippet .actions button{
    border-radius: 0px  !important;
}

.snippet.ng-move,
.snippet.ng-enter {
    -webkit-transition:opacity ease 1s;
    -moz-transition: opacity ease 1s;
    transition:opacity ease 1s;
}


.snippet.ng-move,
.snippet.ng-enter {
    opacity:0;
    /*max-height:0;*/
}


.snippet.ng-move.ng-move-active,
.snippet.ng-enter.ng-enter-active {
    opacity:1;
    /*max-height:40px;*/
}